<div class="menubox">
  <ul class="list-toolbox">
    <% theme.page_nav.forEach(function(item, i){ %>
      <li class="item-toolbox">
        <a
          class="<%= theme.page_nav_style ? theme.page_nav_style : 'ROUND_RECT' %>"
          href="<%= item.url %>"
          rel="noopener noreferrer"
          target="<%= item.target_blank ? '_blank' : '_self' %>"
          >
          <%= item.name %>
        </a>
      </li>
    <% }) %>
  </ul>
</div>